@font-face {
  font-family: district-pro;
  src: url(../fonts/PublicSans-Regular.otf);
}

html {
  font-family: district-pro;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

a {
	color: #424242;
}

.site-header {
	font-size:2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	margin-left: 2em auto;
	min-width: 400px;
}

.site-header-inner {
	border-bottom: 2px solid #000000;
	height: 50px;
}

.site-header__name {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}	

.site-header__about {
	font-size:0.7em;
	color: inherit;
	margin-left: 0.5em ;
	text-decoration: none;
}

.content {
	padding-top: 1em;
	padding-left: 60px;
	padding-right: 6	0px;
}

.post__date {
	font-size: 1em;
}

.post__title {
	font-size: 2em;
	margin: 0 auto;
	color: inherit;
}

.post__title a {
	text-decoration: none;
	color: inherit;
}



